<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <system.diagnostics>
    <trace>
      <listeners>
        <add type="Microsoft.WindowsAzure.Diagnostics.DiagnosticMonitorTraceListener, Microsoft.WindowsAzure.Diagnostics, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="AzureDiagnostics">
          <filter type="" />
        </add>
      </listeners>
    </trace>
  </system.diagnostics>
  <connectionStrings>
    <add name="SQLUsersLocal" connectionString="data source=.\SQLEXPRESS;Initial Catalog=ZapUsers;Integrated Security=SSPI" providerName="System.Data.SqlClient" />
    <add name="SQLSuggestionsLocal" connectionString="data source=.\SQLEXPRESS;Initial Catalog=ZapSuggestions;Integrated Security=SSPI" providerName="System.Data.SqlClient" />
    <add name="SQLDataServicesLocal" connectionString="data source=.\SQLEXPRESS;Initial Catalog=ZapDataServices;Integrated Security=SSPI" providerName="System.Data.SqlClient" />

    <add name="SQLUsersDev1" connectionString="data source=x7djs35g72.database.windows.net;Initial Catalog=ZapUsers;User Id=builtsteady;Password=zrc022.." providerName="System.Data.SqlClient" />
    <add name="SQLSuggestionsDev1" connectionString="data source=x7djs35g72.database.windows.net;Initial Catalog=ZapSuggestions;User Id=builtsteady;Password=zrc022.." providerName="System.Data.SqlClient" />
    <add name="SQLDataServicesDev1" connectionString="data source=x7djs35g72.database.windows.net;Initial Catalog=ZapDataServices;User Id=builtsteady;Password=zrc022.." providerName="System.Data.SqlClient" />

    <add name="SQLUsersDev2" connectionString="data source=kpfc7hoc39.database.windows.net;Initial Catalog=ZapUsers;User Id=builtsteady;Password=zrc022.." providerName="System.Data.SqlClient" />
    <add name="SQLSuggestionsDev2" connectionString="data source=kpfc7hoc39.database.windows.net;Initial Catalog=ZapSuggestions;User Id=builtsteady;Password=zrc022.." providerName="System.Data.SqlClient" />
    <add name="SQLDataServicesDev2" connectionString="data source=kpfc7hoc39.database.windows.net;Initial Catalog=ZapDataServices;User Id=builtsteady;Password=zrc022.." providerName="System.Data.SqlClient" />

    <add name="SQLUsersProduction" connectionString="data source=qs07tzqe2v.database.windows.net;Initial Catalog=ZapUsers;User Id=builtsteady;Password=zrc022.." providerName="System.Data.SqlClient" />
    <add name="SQLSuggestionsProduction" connectionString="data source=qs07tzqe2v.database.windows.net;Initial Catalog=ZapSuggestions;User Id=builtsteady;Password=zrc022.." providerName="System.Data.SqlClient" />
    <add name="SQLDataServicesProduction" connectionString="data source=qs07tzqe2v.database.windows.net;Initial Catalog=ZapDataServices;User Id=builtsteady;Password=zrc022.." providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="UsersConnection" value="SQLUsersDev2" />
    <add key="SuggestionsConnection" value="SQLSuggestionsDev2" />
    <add key="DataServicesConnection" value="SQLDataServicesDev2" />
    <!-- DataServices endpoint (empty string will default to local hostname) -->
    <add key="DataServicesEndpoint" value="" />

    <!-- Facebook Application 'ZaplifyLocal' -->
    <add key="FBAppID" value="143874022407356" />
    <add key="FBAppSecret" value="97d8ff1943a2f85a775e4924443b74ad" />

    <add key="webpages:Version" value="1.0.0.0" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/SignIn" timeout="2880" />
    </authentication>
    <membership defaultProvider="UserMembershipProvider">
      <providers>
        <clear />
        <add name="UserMembershipProvider" type="BuiltSteady.Zaplify.Website.Models.AccessControl.UserMembershipProvider, BuiltSteady.Zaplify.Website" />
      </providers>
    </membership>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    <customErrors mode="Off" />
    <!-- register the WIF OAuth handler for the O365 3-legged OAuth exchange (for Cassini testing) -->
    <httpHandlers>
      <add verb="*" path="OAuthHandler.ashx" type="Microsoft.IdentityModel.Protocols.OAuth.Client.EndUserAuthorizationResponseHandler, Microsoft.IdentityModel.Protocols.OAuth" />
    </httpHandlers>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
    <!-- register the WIF OAuth handler for the O365 3-legged OAuth exchange (this is what IIS uses) -->
    <handlers>
      <add name="OAuthHandler" verb="*" path="OAuthHandler.ashx" type="Microsoft.IdentityModel.Protocols.OAuth.Client.EndUserAuthorizationResponseHandler, Microsoft.IdentityModel.Protocols.OAuth" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" />
  </system.serviceModel>
</configuration>