bin/
obj/
tmp/
build/
.DS_Store
service/website/bin/
source/devices/winphone/winphone/PerformanceLogs/
source/services/azure/csx/
source/services/azure/profiles/
XapCacheFile.xml
*.suo
*.userprefs
*.user
*.dbmdl
*.schemaview
*.pidb
*.mdb
*.build.csdef
*.exe
libSpeechKitLibrary*.a
~$*.*
*~
