<?xml version="1.0"?>
<configuration>

    <connectionStrings>
      <add name="myConnectionString" connectionString="DefaultEndpointsProtocol=http;AccountName=zaplify;AccountKey=ySbvuVLszzHW2f/9WzdsvgcXinBZKBhlKUT9tJWauO+udsY27x85AdSVhqrIrX3vh1cjVru9Kms+OPBsvcKFZQ=="/>
    </connectionStrings>
  
</configuration>
