<root>
  <FileGroup Name="dashboard.generated.min.js">
    <File Path="datamodel.js" Minify="true"/>
    <File Path="controls.js" Minify="true"/>
    <File Path="dashboard.js" Minify="true"/>
    <File Path="folderlist.js" Minify="true"/>
    <File Path="foldermanager.js" Minify="true"/>
    <File Path="listeditor.js" Minify="true"/>
    <File Path="itemeditor.js" Minify="true"/>
    <File Path="suggestionlist.js" Minify="true"/>
    <File Path="suggestionmanager.js" Minify="true"/>
  </FileGroup>
</root>