<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="SQLExpress" connectionString="data source=.\SQLEXPRESS;Initial Catalog=Zaplify;Integrated Security=SSPI" providerName="System.Data.SqlClient" />
    <add name="SQLAzure" connectionString="data source=raobsl4g40.database.windows.net;Initial Catalog=zaplify_030112;User Id=builtsteady;Password=zrc022.." providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="Connection" value="SQLExpress" />
    <add key="Hostname" value="imap.gmail.com" />
    <add key="Port" value="993" />
    <add key="Username" value="taskstorenew" />
    <add key="Password" value="zrc022.." />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.diagnostics>
    <trace>
      <listeners>
        <add type="Microsoft.WindowsAzure.Diagnostics.DiagnosticMonitorTraceListener, Microsoft.WindowsAzure.Diagnostics, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="AzureDiagnostics">
          <filter type="" />
        </add>
      </listeners>
    </trace>
  </system.diagnostics>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>