<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="SQLUsersLocal" connectionString="data source=.\SQLEXPRESS;Initial Catalog=ZapUsers;Integrated Security=SSPI" providerName="System.Data.SqlClient"/>
    <add name="SQLSuggestionsLocal" connectionString="data source=.\SQLEXPRESS;Initial Catalog=ZapSuggestions;Integrated Security=SSPI" providerName="System.Data.SqlClient"/>
    <add name="SQLDataServicesLocal" connectionString="data source=.\SQLEXPRESS;Initial Catalog=ZapDataServices;Integrated Security=SSPI" providerName="System.Data.SqlClient"/>

    <add name="SQLUsersDev1" connectionString="data source=x7djs35g72.database.windows.net;Initial Catalog=ZapUsers;User Id=builtsteady;Password=zrc022.." providerName="System.Data.SqlClient"/>
    <add name="SQLSuggestionsDev1" connectionString="data source=x7djs35g72.database.windows.net;Initial Catalog=ZapSuggestions;User Id=builtsteady;Password=zrc022.." providerName="System.Data.SqlClient"/>
    <add name="SQLDataServicesDev1" connectionString="data source=x7djs35g72.database.windows.net;Initial Catalog=ZapDataServices;User Id=builtsteady;Password=zrc022.." providerName="System.Data.SqlClient"/>

    <add name="SQLUsersDev2" connectionString="data source=kpfc7hoc39.database.windows.net;Initial Catalog=ZapUsers;User Id=builtsteady;Password=zrc022.." providerName="System.Data.SqlClient"/>
    <add name="SQLSuggestionsDev2" connectionString="data source=kpfc7hoc39.database.windows.net;Initial Catalog=ZapSuggestions;User Id=builtsteady;Password=zrc022.." providerName="System.Data.SqlClient"/>
    <add name="SQLDataServicesDev2" connectionString="data source=kpfc7hoc39.database.windows.net;Initial Catalog=ZapDataServices;User Id=builtsteady;Password=zrc022.." providerName="System.Data.SqlClient"/>

    <add name="SQLUsersProduction" connectionString="data source=qs07tzqe2v.database.windows.net;Initial Catalog=ZapUsers;User Id=builtsteady;Password=zrc022.." providerName="System.Data.SqlClient"/>
    <add name="SQLSuggestionsProduction" connectionString="data source=qs07tzqe2v.database.windows.net;Initial Catalog=ZapSuggestions;User Id=builtsteady;Password=zrc022.." providerName="System.Data.SqlClient"/>
    <add name="SQLDataServicesProduction" connectionString="data source=qs07tzqe2v.database.windows.net;Initial Catalog=ZapDataServices;User Id=builtsteady;Password=zrc022.." providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="UsersConnection" value="SQLUsersProduction"/>
    <add key="SuggestionsConnection" value="SQLSuggestionsProduction"/>
    <add key="DataServicesConnection" value="SQLDataServicesProduction"/>
  </appSettings>
  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
