<root>
  <FileGroup Name="zapboard.generated.js">
    <File Path="jquery-ui-1.8.16.bootstrap.min.js" Minify="true"/>
    <File Path="datamodel.js" Minify="true"/>
    <File Path="dashboard.js" Minify="true"/>
    <File Path="folderlist.js" Minify="true"/>
    <File Path="foldermanager.js" Minify="true"/>
    <File Path="itemviewer.js" Minify="true"/>
    <File Path="suggestionlist.js" Minify="true"/>
    <File Path="suggestionmanager.js" Minify="true"/>
  </FileGroup>
</root>