<root>
  <FileGroup Name="master.generated.min.js">
    <File Path="jquery-1.7.1.min.js" Minify="true"/>
    <File Path="jquery-ui-1.8.16.min.js" Minify="true"/>
    <File Path="jquery.validate.min.js" Minify="true"/>
    <File Path="json2.js" Minify="true"/>
    <File Path="bootstrap.min.js" Minify="true" />
    <!--File Path="less.min.js" Minify="true"/-->
    <File Path="shared/math.uuid.js" Minify="false"/>
    <File Path="shared/service.js" Minify="false"/>
  </FileGroup>
</root>