/*----------------------------------------------------------
Dashboard
----------------------------------------------------------*/

.dashboard-region {
    position: relative;
    min-width: 800px;
}

.dashboard-list {
    display: inline-block;
    padding: 5px 0 5px 0;
    width: 200px;
    min-height: 360px;
}

.dashboard-manager {
    display: inline-block;
    margin: 10px 12px 0 12px;
    float: left;
    Xborder: 1px dashed red;
}

.dashboard-folders {
    float:left;
    padding-left: 6px;
    border-width-left: 0px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.dashboard-suggestions {
    float:right;
    padding-right: 6px;
    border-width-right: 0px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    
    overflow-x: hidden;
    overflow-y: auto;
}

/*----------------------------------------------------------
Dashboard Lists (Folders and Suggestions)
----------------------------------------------------------*/

.folder-button {
    cursor: pointer;
    margin: 4px 10px 0 10px;
    padding: 4px 4px 2px 4px;
    width: 172px;
    min-height: 20px;
    position: relative;
    text-align: center;
    border-radius: 15px;
}
.dashboard-suggestions .folder-button { min-height: 20px; max-height: 32px }

.folder-button.ui-state-active {
    font-weight: bold;
    border-radius: 0;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.folder-items {
    cursor: pointer;
    margin: 1px 10px 0 10px;
    width: 180px;
    overflow-x: hidden;
    overflow-y: auto;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}
.dashboard-folders .folder-items { min-height: 132px; }

.list-items {
    min-height: 20px;
}

.item-list-button.ui-state-default {
    padding: 2px;
    height: 20px;
    overflow: hidden;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
}
.item-list-button.expanded { font-weight: bold; }

.item-button {
    padding: 2px;
    overflow:hidden;
    min-height: 18px;
    max-height: 36px;
    border-width: 0px;
}
.item-button, .item-button.ui-state-active, .item-button.ui-state-highlight {
    border-width: 0px;
    border-bottom-width: 1px;
}
.item-button.indent-1 { padding-left: 12px; }

.working {
    position:absolute;
    top: 10px;
    right: 92px;
    display: none;
    width: 16px;
    height: 11px;
    background: transparent url(images/busy.gif) no-repeat;
    opacity:0.4; filter:alpha(opacity=40);
}

/*----------------------------------------------------------
Dashboard Manager
----------------------------------------------------------*/

.manager-region {
    width: 100%;
    Xborder: 1px dashed blue;
}

.manager-help {
    width: 100%;
    Xborder: 1px dashed green;
}

.ui-icon.add-icon { background: transparent url(images/add-icon.png) no-repeat; }
.ui-icon.delete-icon { background: transparent url(images/delete-icon.png) no-repeat; }
.ui-icon.info-icon { background: transparent url(images/info-icon.png) no-repeat; }

.manager-header {
    width: 100%;
    padding: 4px 0 2px 0px;
    height: 20px;
    font-weight: bold;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.manager-header span {  cursor: pointer; padding-left: 8px }
.manager-header .ui-icon { cursor: pointer; float: right; margin: 2px 8px 0 0; opacity:0.8; filter:alpha(opacity=80); }
.manager-header .ui-icon:hover { opacity:1.0; filter:alpha(opacity=100); }

.manager-panel {
    position: relative;    
    width: 100%;
    padding: 4px 0px 10px 0px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}
.manager-panel .setting { display: inline-block; position: relative; margin: 15px 8px 8px 10px; }
.manager-panel .setting label { position: absolute; top: -13px; left: 8px; font-size: 8pt; opacity:0.7; filter:alpha(opacity=70); }
.manager-panel .ui-icon { opacity:0.8; filter:alpha(opacity=80); }
.manager-panel .ui-icon:hover { opacity:1.0; filter:alpha(opacity=100); }

.list-editor { width: 100%; Xborder: 1px dashed green; }
.item-editor-expander { position:absolute; cursor: pointer; bottom: -4px; left: 50%; width: 44px; height: 18px; Xborder: 1px solid red; }
.item-editor-expander .ui-icon { display: inline-block; width: 12px; height: 16px; }

/*----------------------------------------------------------
Item Fields
    dt-    DisplayTypes
    fn-     FieldNames
----------------------------------------------------------*/

.item-field {
    position: relative; display: inline-block;
    padding: 10px 0px 2px 0px; margin: 0px 6px 0px 6px;
    Xborder: 1px solid red;
}

.item-field-label {
    position: absolute; top: 0; left: 10px;
    font-size: 8pt;
    opacity:0.7; filter:alpha(opacity=70);
}

.item-field-label.inline {
    position: relative; top: -2px; left: 0;
    margin-right: 6px;
    Xborder: 1px solid green; 
}

.item-field.wide { width: 100%; height: 32px; padding: 0; margin: 0 0 6px 0; }
.item-field.wide input.dt-text { width: 95%; margin: 4px 4px 0 6px; }
.item-field.wide.checked .dt-checkbox { position: absolute; margin: 9px 4px 0 6px; }
.item-field.wide.checked input.dt-text { width: 90%; position: absolute; margin: 4px 4px 0px 24px; }
.item-field.wide.area { height: 84px; }
.item-field.wide.area .dt-textarea, .item-field.wide.area .dt-linkarray { width: 95%; margin: 14px 4px 0 6px; overflow-y: auto; overflow-x: hidden; }
.item-field.wide.area .dt-linkarray { white-space: nowrap; }
.item-field.wide input.dt-address, .item-field.wide input.dt-locationlist, 
.item-field.wide input.dt-contactlist { width: 95%; margin: 14px 4px 0px 6px; }

.dt-checkbox { margin-right: 6px; }
.dt-datepicker { min-width: 200px; }
.dt-address { min-width: 320px; }

.ui-autocomplete { max-height: 200px; overflow-y: auto; overflow-x: hidden; }

/*----------------------------------------------------------
Source icons
----------------------------------------------------------*/

.fb-icon {
    height: 16px; width: 16px;
    display: inline-block;
    float: right;
    margin: 2px 2px 0 0;
    background: transparent url(images/facebook.png) no-repeat;
}

.azure-icon {
    height: 16px; width: 16px;
    display: inline-block;
    float: right;
    margin: 2px 2px 0 0;
    background: transparent url(images/azure.png) no-repeat;
}


