/*----------------------------------------------------------
Dashboard
----------------------------------------------------------*/

.dashboard-region {
    position: relative;
    min-width: 800px;
}

.dashboard-list {
    display: inline-block;
    padding: 5px 0 5px 0;
    width: 200px;
    min-height: 360px;
    background-color: #ECECE6;
    border-style: solid;
    border-color: #C0C0B2;
    border-width: 0px 1px 1px 0px;
    Xborder-bottom-right-radius: 6px;
}

.dashboard-manager {
    display: inline-block;
    margin: 0 12px 0 12px;
    float: left;
    Xborder: 1px dashed red;
}

.dashboard-folders {
    float:left;
    padding-left: 6px;
    border-width: 1px 2px 1px 0px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.dashboard-suggestions {
    float:right;
    padding-right: 6px;
    border-width: 1px 0px 1px 2px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

/*----------------------------------------------------------
Dashboard Folders
----------------------------------------------------------*/

.folder-button {
    cursor: pointer;
    margin: 4px 10px 0 10px;
    padding: 4px 0 2px 0;
    width: 180px;
    height: 20px;
    position: relative;
    text-align: center;
    background-color: #AEC2D0;
    border-radius: 15px;
}

.folder-button:hover {
    font-weight: bold;
}

.folder-button.selected {
    font-weight: bold;
    color: #E2E6E6;
    background-color: #3B5998;
    border-radius: 0;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.folder-items {
    cursor: pointer;
    margin: 1px 10px 0 10px;
    width: 178px;
    min-height: 132px;
    border: 1px solid #C0C0B2;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    background-color: white;
    overflow-x: hidden;
    overflow-y: auto;
}

.list-items {
    min-height: 20px;
}

.item-list-button {
    padding: 2px;
    max-height: 18px;
    overflow: hidden;
    background-color: #DADAD2;
    border-bottom: 1px solid #C0C0B2;
}
.item-list-button.selected { background-color: #ECE6C8; }
.item-list-button.expanded { font-weight: bold; }

.item-button {
    padding: 2px;
    border-bottom: 1px solid #DADAD2;
    overflow:hidden;
    max-height: 34px;
}
.item-button.selected, .item-button:hover { background-color: #F4F2E0; }

.indent-1 { padding-left: 12px; }

/*----------------------------------------------------------
Dashboard Suggestions
----------------------------------------------------------*/
.working {
    position:absolute;
    top: 10px;
    right: 92px;
    display: none;
    width: 16px;
    height: 11px;
    background: transparent url(images/busy.gif) no-repeat;
    opacity:0.4; filter:alpha(opacity=40);
}

.group-button {
    font-weight: bold;
    color: #E2E6E6;
    margin: 4px 10px 0 10px;
    padding: 4px 4px 2px 4px;
    width: 172px;
    min-height: 20px;
    max-height: 60px;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
    text-align: center;
    background-color: #3B5998;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.group-button:hover {
    font-weight: bold;
}

.group-choices {
    cursor: pointer;
    margin: 1px 10px 0 10px;
    width: 178px;
    border: 1px solid #C0C0B2;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    background-color: white;
    overflow-x: hidden;
    overflow-y: auto;
}

.choice-button {
    padding: 2px;
    border-bottom: 1px solid #DDD9C3;
    overflow:hidden;
    max-height: 34px;
}
.choice-button:hover { background-color: #F4F2E0; }

/*----------------------------------------------------------
Dashboard Toolbar
----------------------------------------------------------*/

.manager-toolbar {
    width: 100% - 12px;
    height: 32px;
    padding: 6px 6px 6px 6px;
    margin-bottom: 4px;
    background-color: #ECECE6;
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    border-color: #C0C0B2;
    border-radius: 6px;
}

.toolbar-button {
    display:inline-block;
    cursor: pointer;
    width: 32px;
    height: 32px;
    margin-right: 8px;
    border: 1px solid transparent;
}

.toolbar-button:hover { background-color: #ECE6C8; border-color: #C0C0B2;}
.toolbar-button.disabled { opacity:0.4; filter:alpha(opacity=40); }
.toolbar-button.disabled:hover { background-color: transparent; border-color: transparent; }

.tool-separator { padding-right: 5px; margin-right: 10px; border-right: 1px solid #C0C0B2; }
.tool-separator.disabled { border-right: 1px solid #C0C0B2; }
.tool-separator.disabled:hover { border-right: 1px solid #C0C0B2; }

.add-folder {
    display: inline-block; width: 32px; height: 32px;
    background: transparent url(images/add-folder.png) no-repeat;
}

.add-list {
    display: inline-block; width: 32px; height: 32px;
    background: transparent url(images/add-list.png) no-repeat;
}

.add-item {
    display: inline-block; width: 32px; height: 32px;
    background: transparent url(images/add-item.png) no-repeat;
}

.update-item {
    display: inline-block; width: 32px; height: 32px;
    background: transparent url(images/update-item.png) no-repeat;
}

.delete-item {
    display: inline-block; width: 32px; height: 32px;
    background: transparent url(images/delete-item.png) no-repeat;
}

/*----------------------------------------------------------
Dashboard Manager
----------------------------------------------------------*/

.manager-region {
    width: 100%;
    Xborder: 1px dashed blue;
}

.manager-help {
    width: 100%;
    Xborder: 1px dashed green;
}

.add-icon {
    display: inline-block; width: 16px; height: 16px;
    background: transparent url(images/add-icon.png) no-repeat;
}

.delete-icon {
    display: inline-block; width: 16px; height: 16px;
    background: transparent url(images/delete-icon.png) no-repeat;
}

.item-path {
    width: 100%;
    padding: 4px 0 2px 0px;
    height: 18px;
    font-weight: bold;
    color: #E2E2E6;
    background-color: #3B5998;
    border: 1px solid #3B5998;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.item-path span {  cursor: pointer; padding-left: 8px }
.item-path .icon { cursor: pointer; float: right; margin: 2px 8px 0 0; opacity:0.8; filter:alpha(opacity=80); }
.item-path .icon:hover { opacity:1.0; filter:alpha(opacity=100); }


.list-editor {
    width: 100%;
    Xborder: 1px dashed green;
}

.item-editor {
    width: 100%;
    padding: 4px 0px 8px 0px;
    border: 1px solid #C0C0B2;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    background-color: #ECECE6;
}

/*----------------------------------------------------------
Item Fields
    dt-    DisplayTypes
    fn-     FieldNames
----------------------------------------------------------*/

.item-field {
    position: relative; 
    display: inline-block;
    padding: 10px 0px 2px 0px;   
    margin: 0px 6px 0px 6px;
    Xborder: 1px solid red;
}

.item-field-label {
    position: absolute;    
    top: 0; left: 10px;
    font-size: 8pt;
    color: #50738A;
}
.item-field-label.inline {
    position: relative; 
    top: -2px; left: 0;
    margin-right: 6px;
    Xborder: 1px solid green; 
}

.item-field-name { width: 100%; display: block; position: relative; height: 32px; }
.item-field-name .dt-text { width: 95%; margin: 4px 4px 0 6px; }

.item-field-complete { width: 100%; display: block; position: relative; height: 32px; }
.item-field-complete .dt-checkbox { position: absolute; margin: 9px 4px 0 6px; }
.item-field-complete .dt-text { width: 90%; position: absolute; margin: 4px 4px 0px 24px; }

.item-field-area { width: 100%; display: block; position: relative; height: 84px; }
.item-field-area .dt-textarea { width: 95%; margin: 13px 0px 0px 6px; }
.item-field-area .item-field-label { left: 16px; }

.dt-checkbox { margin-right: 6px; }
.dt-datepicker { min-width: 200px; }

/*----------------------------------------------------------
Source icons
----------------------------------------------------------*/

.fb-icon {
    height: 16px; width: 16px;
    display: inline-block;
    float: right;
    margin: 2px 2px 0 0;
    background: transparent url(images/facebook.png) no-repeat;
}

.azure-icon {
    height: 16px; width: 16px;
    display: inline-block;
    float: right;
    margin: 2px 2px 0 0;
    background: transparent url(images/azure.png) no-repeat;
}


