<root>
  <FileGroup Name="generated/master.css">
    <File Path="generated/bootstrap.css" Minify="true"/>
    <File Path="bootstrap-tweener.css" Minify="false"/>
    <!--File Path="generated/responsive.css" Minify="true"/-->
    <File Path="bootstrap-after.css" Minify="false"/>
  </FileGroup>
</root>