/*----------------------------------------------------------
Reset all styling
----------------------------------------------------------*/
html {
    min-height: 100%;
}

body {
    min-height: 100%;
}

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td {
    margin: 0;
    padding: 0;
    spellcheck: false;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

fieldset,img { border: 0; }

address,caption,cite,code,dfn,em,strong,th,var,optgroup {
    font-style: inherit;
    font-weight: inherit;
}

del,ins { text-decoration: none; }
li { list-style: none; }
caption,th { text-align: left; }

h1,h2,h3,h4,h5,h6 {
    font-size: 100%;
    font-weight: normal;
}

q:before,q:after { content: ''; }

abbr,acronym {
    border: 0;
    font-variant: normal;
}

sup { vertical-align: baseline; }
sub { vertical-align: baseline; }
legend { color: #000; }

input,button,textarea,select,optgroup,option {
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
    spellcheck: false;
}

input,button,textarea,select { *font-size: 100%; spellcheck:false;}

textarea {
    resize:none;
    spellcheck:false;
}

/*----------------------------------------------------------
Default site styling
----------------------------------------------------------*/
.site-default 
{
    font-size: 0.8em;
    font-family: "segoe ui", tahoma, verdana, arial, sans-serif;
}

a { color: #2020D0; outline: none; cursor: pointer; }
a:link { xcolor: inherit; text-decoration: none; }
a:visited { xcolor: inherit; }
a:hover { xcolor: inherit; }
a:active { xcolor: inherit; }
button::-moz-focus-inner, a::-moz-focus-inner, input::-moz-focus-inner, a::-moz-focus-inner { border: 0; }

h1, h2, h3, h4, h5, h6 {    
    font-family: "lucida grande", "segoe ui", tahoma, verdana, arial, sans-serif;
}

h1 { font-size: 2em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.2em; }
h4 { font-size: 1.1em; }
h5, h6 { font-size: 1em; }

/*----------------------------------------------------------
Layout elements
----------------------------------------------------------*/

.layout-region {
    width: auto;
}

.header-region.ui-widget-header {   
    position: relative;
    min-width: 840px;
    width: 100%;
    height: 60px;
    border-width: 0;
    border-bottom: 2px ridge #FFFFFF;
}

.header-content { }
.header-region .logo { position: absolute; left: 20px; top: 8px; cursor: pointer; }
.header-region .refresh { display:none; position: absolute; right: 12px; top: 30px; cursor: pointer; }

.signin-control { position: absolute; right:15px; top: 8px; font-weight: normal; }
.signin-control span { font-weight: normal; opacity:0.6; filter:alpha(opacity=60); }

.main-content-region {
    min-width: 600px;
    min-height: 400px;
    margin: 15px 0px 15px 0px;
}

.main-content {
    text-align: center;
    width: 100%;
}

.footer-region.ui-widget-header {
    position: fixed; 
    bottom: 0px;
    min-width: 600px;
    width: 100%;
    height: 25px;
    border-width: 0;
    border-top: 2px groove #FFFFFF;
}

.footer-content { float: left; }
.footer-copyright { float: right; margin: 6px 8px 0 0; }
.footer-copyright a {  font-weight: normal; }


/*----------------------------------------------------------
Dialogs and Forms
----------------------------------------------------------*/

.dialog-panel {
    max-width: 490px;
    margin-left: 50px;
    padding: 30px 20px 10px 30px;
    border-right-width: 2px;
    Xborder: 1px solid red;
}

.dialog-panel p {
    padding-right: 20px;
}

.dialog-label {
    margin: 0;
}

.dialog-field {
    margin: 0 0 6px 0;
}

.dialog-panel .ui-button {
    min-width: 120px;
    border-radius: 4px;
}

.dialog-panel.ui-widget fieldset {
    margin: 10px 0;
    padding: 12px;
    max-width: 460px;
    background-color: transparent;
}

.dialog-panel legend {
    font-size: 1.2em;
    padding: 0 4px;
}

textarea {
    min-height: 64px;
    overflow: hidden;     
    padding: 2px 3px 2px 3px;
    margin-top: 3px;
    font-size: 1em;
}

input[type="text"], 
input[type="password"] {
    padding: 2px 3px 2px 3px;
    margin-top: 3px;
    font-size: 1em;
    width: 200px;
}

select {
    padding: 2px;
    font-size: 1.2em;
}

input[type="submit"] {
    font-size: 1em;
    padding: 0px 5px 0px 5px;
}


/*----------------------------------------------------------
Validation
----------------------------------------------------------*/
.field-validation-error {
    color: #C80A0A;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #C80A0A;
    background-color: #F5EFD0;
}

.validation-summary-errors {
    color: #C80A0A;
}

.validation-summary-valid {
    display: none;
}

/*----------------------------------------------------------
Icons
----------------------------------------------------------*/

.refresh { display: inline-block; width: 24px; height: 24px;
    background: transparent url(images/refresh.png) no-repeat;
}
.refresh.busy {  background: transparent url(images/busy.png) no-repeat; }

/*----------------------------------------------------------
Miscellaneous
----------------------------------------------------------*/
.clear { clear: both; }
.error { color: #C80A0A; }

.display-none { display: none; }
.display-block { display: block; }
.display-inline { display: inline-block; }

.float-left { float: left; }
.float-right { float: right; }

/*----------------------------------------------------------
jquery-ui timepicker extension
----------------------------------------------------------*/
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }
