/*----------------------------------------------------------
Reset all styling
----------------------------------------------------------*/
html {
    min-height: 100%;
}

body {
    min-height: 100%;
}

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td {
    margin: 0;
    padding: 0;
    spellcheck: false;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

fieldset,img { border: 0; }

address,caption,cite,code,dfn,em,strong,th,var,optgroup {
    font-style: inherit;
    font-weight: inherit;
}

del,ins { text-decoration: none; }
li { list-style: none; }
caption,th { text-align: left; }

h1,h2,h3,h4,h5,h6 {
    font-size: 100%;
    font-weight: normal;
}

q:before,q:after { content: ''; }

abbr,acronym {
    border: 0;
    font-variant: normal;
}

sup { vertical-align: baseline; }
sub { vertical-align: baseline; }
legend { color: #000; }

input,button,textarea,select,optgroup,option {
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
    spellcheck: false;
}

input,button,textarea,select { *font-size: 100%; spellcheck:false;}

textarea {
    resize:none;
    spellcheck:false;
}

/*----------------------------------------------------------
Default site styling
----------------------------------------------------------*/
.site-default 
{
    overflow-y: hidden;
    font-size: 0.8em;
    font-family: "segoe ui", tahoma, verdana, arial, sans-serif;
    color: #202030;
    background-color: #E2E6E6;
}

a { color: #2020D0; outline: none; cursor: pointer; }
a:link { xcolor: inherit; text-decoration: none; }
a:visited { xcolor: inherit; }
a:hover { xcolor: inherit; }
a:active { xcolor: inherit; }
button::-moz-focus-inner, a::-moz-focus-inner, input::-moz-focus-inner, a::-moz-focus-inner { border: 0; }

h1, h2, h3, h4, h5, h6 {    
    font-family: "lucida grande", "segoe ui", tahoma, verdana, arial, sans-serif;
}

h1 { font-size: 2em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.2em; }
h4 { font-size: 1.1em; }
h5, h6 { font-size: 1em; }

/*----------------------------------------------------------
Layout elements
----------------------------------------------------------*/

.layout-region {
    width: auto;
}

.header-region {   
    min-width: 600px;
    height: 60px;
    background: transparent url(images/header-bkgnd.png) repeat left 60px;
}

.header-content {   
}

.main-content-region {
    min-width: 600px;
    min-height: 450px;
    margin: 20px 20px 20px 20px;
}

.main-content {
    text-align: center;
    width: 100%;
}

.footer-region {
    position: fixed; 
    bottom: 0px;
    min-width: 600px;
    width: 100%;
    height: 25px;
    background: transparent url(images/footer-bkgnd.png) repeat left 100px;   
}

.footer-copyright { float: right; margin: 6px 8px 0 0; }
.footer-copyright a {  color: #202030; }

.footer-content { float: left; }

.signin-control
{
    position: fixed;
    right:15px;
    top: 15px;
}

/*----------------------------------------------------------
Dialogs and Forms
----------------------------------------------------------*/

.dialog-panel {
    max-width: 490px;
    padding: 0 20px 10px 30px;
    background: transparent url(images/panel-middle-bkgnd.png) repeat-y left 0px;
    Xborder: 1px solid red;
}

.dialog-panel p {
    padding-right: 20px;
}

.dialog-panel-top {
    max-width: 540px;
    height: 20px;
    background: transparent url(images/panel-top-bkgnd.png) no-repeat left top;
    Xborder: 1px solid green;
}

.dialog-panel-bottom {
    max-width: 540px;
    height: 20px;
    background: transparent url(images/panel-bottom-bkgnd.png) no-repeat left bottom;
    Xborder: 1px solid blue;
}

.dialog-label {
    margin: 0;
}

.dialog-field {
    margin: 0 0 6px 0;
}

.dialog-button {
    cursor: pointer;
    color: #202030;
    display: inline-block;
    width: 120px;
    height: 28px;
    text-align: center;
    Xbackground: transparent url(images/redbutton.png) no-repeat;
}

fieldset {
    margin: 10px 0;
    padding: 12px;
    border: 1px solid #D0BCAE;
    max-width: 460px;
}

legend {
    color: #D0BCAE;
    font-size: 1.2em;
    padding: 0 4px;
}

textarea {
    min-height: 75px;
}

input[type="text"], 
input[type="password"] {
    border: 1px solid #D0BCAE;
    padding: 2px 3px 2px 3px;
    margin-top: 3px;
    font-size: 1em;
    color: #202030;
    width: 200px;
    background-color: #EEECE1;
}

select {
    border: 1px solid #D0BCAE;
    padding: 2px;
    font-size: 1.2em;
    color: #202030;
}

input[type="submit"] {
    font-size: 1em;
    padding: 0px 5px 0px 5px;
}


/*----------------------------------------------------------
Validation
----------------------------------------------------------*/
.field-validation-error {
    color: #C80A0A;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #C80A0A;
    background-color: #F5EFD0;
}

.validation-summary-errors {
    color: #C80A0A;
}

.validation-summary-valid {
    display: none;
}

/*----------------------------------------------------------
Miscellaneous
----------------------------------------------------------*/
.clear { clear: both; }
.error { color: #961919; }

.display-none { display: none; }
.display-block { display: block; }
.display-inline { display: inline-block; }


